# Data Science Tools and Eco System

In this NoteBook, Data Science Tolls And Eco System are summersized

**Objectives:**

- Understand the fundamentals of Data Science and its significance in the modern world.
- List popular languages for Data Science, including Python, R, and SQL.
- Explore various open-source tools and libraries used in Data Science workflows.
- Gain practical experience with data manipulation and analysis using Pandas.
- Learn the basics of creating visualizations with tools like Matplotlib and Seaborn.

Some of the popular languages which are used in data science are :-

1. Python
2. R language
3. SQL 
4. C language

Some of the comman used libraries in data science are :-

1. Numpy
2. Pandas 
3. Scifi
4. Mataplotlip

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Visual Studio Code |

### There are some examples of arthmatice operation in pythone:-

In [5]:
# this is an simple arthmatice operation of adding and multiplying two number

(3*4)+5

17

In [10]:
# this will convert 200 min into hours by divide 60

200/60

3.3333333333333335

## Author

Piyush Bamnia